
.App {
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(to right, grey, white)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home-component {
  background-color: blue;
  color: white;
}

.home-page {
  color: black;
  background-image: linear-gradient(to bottom right, grey, white)
}
.about-paragraph {
  display: flex;
  justify-content: flex-start;
}
.navbar {
  padding-right: 30px;
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  font-family: 'Jaldi';
  font-size: 20px;
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 1vh;
}
a:hover {
  color: red;
}
.dlt-btn {
  ox-shadow:inset 0px 0px 18px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 3px 0px #854629;
}

.edt-btn {
  ox-shadow:inset 0px 0px 18px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 3px 0px #854629;
  width: 40px;
}

.comments-block {
  margin: auto;
  padding: 15px;
  text-align: left;
  outline: 2px solid black;
}

.comment-post {
  color: rgb(2, 2, 125);
  border-style: boxed;
}


.postcard-img {
  height: 250px;
  width: 700px;
}

.postpage-img {
  height: 500px;
  width: 1200px;
}
.postcard-container {
  margin: 25px;
  padding: 25px;
  /* border: solid; */
  /* background-image: linear-gradient(to left red, blue); */
  background: linear-gradient(to left, grey, white, grey);
  border-radius: 25px;
}
.about-paragraph {
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
